<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Key</key>
		<string>ExportPrintFileNameKey</string>
		<key>Title</key>
		<string>Export File Name</string>
		<key>isTextFieldCell</key>
		<true/>
	</dict>
	<dict>
		<key>Key</key>
		<string>PrintNumberOfPaperKey</string>
		<key>Title</key>
		<string>Number Of Paper</string>
		<key>Items</key>
		<array>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
			<string>8</string>
			<string>9</string>
			<string>10</string>
			<string>99</string>
		</array>
		<key>ItemNumber</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>5</integer>
			<integer>6</integer>
			<integer>7</integer>
			<integer>8</integer>
			<integer>9</integer>
			<integer>10</integer>
			<integer>99</integer>
		</array>
	</dict>
	<dict>
		<key>Key</key>
		<string>PrintPaperSizeKey</string>
		<key>Title</key>
		<string>Paper Size</string>
		<key>Items</key>
		<array>
			<string>A4</string>
			<string>Letter</string>
			<string>Legal</string>
		</array>
		<key>ItemNumber</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
		</array>
	</dict>
	<dict>
		<key>Key</key>
		<string>PrintOrientationKey</string>
		<key>Title</key>
		<string>Orientation</string>
		<key>Items</key>
		<array>
			<string>Landscape</string>
			<string>Portrate</string>
		</array>
		<key>ItemNumber</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
		</array>
	</dict>
	<dict>
		<key>Key</key>
		<string>ScalingModeKey</string>
		<key>Title</key>
		<string>Scaling Mode</string>
		<key>Items</key>
		<array>
			<string>Original</string>
			<string>Fit to page</string>
			<string>Custom</string>
			<string>Fit to paper</string>
		</array>
		<key>ItemNumber</key>
		<array>
			<integer>0</integer>
			<integer>3</integer>
			<integer>2</integer>
			<integer>4</integer>
		</array>
	</dict>
	<dict>
		<key>Key</key>
		<string>ScalingFactorKey</string>
		<key>Title</key>
		<string>Scaling Factor (for Custom)</string>
		<key>Items</key>
		<array>
			<string>0.5</string>
			<string>1.0</string>
			<string>2.0</string>
		</array>
		<key>ItemNumber</key>
		<array>
			<real>0.5</real>
			<real>1</real>
			<real>2</real>
		</array>
	</dict>
	<dict>
		<key>Key</key>
		<string>PrintHalftoneKey</string>
		<key>Title</key>
		<string>Halftone</string>
		<key>Items</key>
		<array>
			<string>Binary</string>
			<string>Dither</string>
			<string>Error Diffusion</string>
		</array>
		<key>ItemNumber</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>2</integer>
		</array>
	</dict>
	<dict>
		<key>Key</key>
		<string>PrintBinaryThresholdKey</string>
		<key>Title</key>
		<string>Binary Threshold</string>
		<key>isTextFieldCell</key>
		<string>YES</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>PrintHorizintalAlignKey</string>
		<key>Title</key>
		<string>Horizintal Align</string>
		<key>Items</key>
		<array>
			<string>Left</string>
			<string>Center</string>
			<string>Right</string>
		</array>
		<key>ItemNumber</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>2</integer>
		</array>
	</dict>
	<dict>
		<key>Key</key>
		<string>PrintVerticalAlignKey</string>
		<key>Title</key>
		<string>Vertical Align</string>
		<key>Items</key>
		<array>
			<string>Top</string>
			<string>Middle</string>
			<string>Bottom</string>
		</array>
		<key>ItemNumber</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>2</integer>
		</array>
	</dict>
	<dict>
		<key>Key</key>
		<string>PrintPaperAlignKey</string>
		<key>Title</key>
		<string>Paper Align</string>
		<key>Items</key>
		<array>
			<string>Paper Left</string>
			<string>Paper Center</string>
			<string>Paper Right</string>
		</array>
		<key>ItemNumber</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>2</integer>
		</array>
	</dict>
	<dict>
		<key>Key</key>
		<string>PrintCodeKey</string>
		<key>Title</key>
		<string>Printer Code</string>
		<key>Items</key>
		<array>
			<string>On</string>
			<string>Off</string>
		</array>
		<key>ItemNumber</key>
		<array>
			<integer>1</integer>
			<integer>0</integer>
		</array>
	</dict>
	<dict>
		<key>Key</key>
		<string>PrintCarbonKey</string>
		<key>Title</key>
		<string>Carbon</string>
		<key>Items</key>
		<array>
			<string>On</string>
			<string>Off</string>
		</array>
		<key>ItemNumber</key>
		<array>
			<integer>2</integer>
			<integer>0</integer>
		</array>
	</dict>
	<dict>
		<key>Key</key>
		<string>PrintDashKey</string>
		<key>Title</key>
		<string>Dash Print</string>
		<key>Items</key>
		<array>
			<string>On</string>
			<string>Off</string>
		</array>
		<key>ItemNumber</key>
		<array>
			<integer>4</integer>
			<integer>0</integer>
		</array>
	</dict>
	<dict>
		<key>Key</key>
		<string>PrintFeedModeKey</string>
		<key>Title</key>
		<string>Feed Mode</string>
		<key>Items</key>
		<array>
			<string>No Feed</string>
			<string>End of Page</string>
			<string>End of Page Retract</string>
			<string>FixPage</string>
		</array>
		<key>ItemNumber</key>
		<array>
			<integer>8</integer>
			<integer>16</integer>
			<integer>32</integer>
			<integer>64</integer>
		</array>
	</dict>
	<dict>
		<key>Key</key>
		<string>PrintCurlModeKey</string>
		<key>Title</key>
		<string>Curl Mode</string>
		<key>Items</key>
		<array>
			<string>Off</string>
			<string>On</string>
			<string>On (Anti Curl)</string>
		</array>
		<key>ItemNumber</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
		</array>
	</dict>
	<dict>
		<key>Key</key>
		<string>PrintSpeedKey</string>
		<key>Title</key>
		<string>Speed</string>
		<key>Items</key>
		<array>
			<string>Faster</string>
			<string>Fast</string>
			<string>Slowly</string>
			<string>More Slowly</string>
		</array>
		<key>ItemNumber</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
		</array>
	</dict>
	<dict>
		<key>Key</key>
		<string>PrintBidirectionKey</string>
		<key>Title</key>
		<string>Bidirection</string>
		<key>Items</key>
		<array>
			<string>On</string>
			<string>Off</string>
		</array>
		<key>ItemNumber</key>
		<array>
			<integer>1</integer>
			<integer>0</integer>
		</array>
	</dict>
	<dict>
		<key>Key</key>
		<string>PrintFeedMarginKey</string>
		<key>Title</key>
		<string>FeedMargin</string>
		<key>Items</key>
		<array>
			<string>0</string>
			<string>50</string>
			<string>100</string>
			<string>150</string>
		</array>
		<key>ItemNumber</key>
		<array>
			<integer>0</integer>
			<integer>50</integer>
			<integer>100</integer>
			<integer>150</integer>
		</array>
	</dict>
	<dict>
		<key>Key</key>
		<string>PrintCustomLengthKey</string>
		<key>Title</key>
		<string>CustomLength</string>
		<key>Items</key>
		<array>
			<string>200</string>
			<string>400</string>
			<string>800</string>
			<string>3536</string>
		</array>
		<key>ItemNumber</key>
		<array>
			<integer>200</integer>
			<integer>400</integer>
			<integer>800</integer>
			<integer>3536</integer>
		</array>
	</dict>
	<dict>
		<key>Key</key>
		<string>PrintCustomWidthKey</string>
		<key>Title</key>
		<string>CustomWidth</string>
		<key>Items</key>
		<array>
			<string>80</string>
			<string>200</string>
			<string>400</string>
		</array>
		<key>ItemNumber</key>
		<array>
			<integer>80</integer>
			<integer>200</integer>
			<integer>400</integer>
		</array>
	</dict>
	<dict>
		<key>Key</key>
		<string>PrintAutoCutKey</string>
		<key>Title</key>
		<string>Auto Cut</string>
		<key>Items</key>
		<array>
			<string>On</string>
			<string>Off</string>
		</array>
		<key>ItemNumber</key>
		<array>
			<integer>1</integer>
			<integer>0</integer>
		</array>
	</dict>
	<dict>
		<key>Key</key>
		<string>PrintCutAtEndKey</string>
		<key>Title</key>
		<string>Cut At End</string>
		<key>Items</key>
		<array>
			<string>On</string>
			<string>Off</string>
		</array>
		<key>ItemNumber</key>
		<array>
			<integer>1</integer>
			<integer>0</integer>
		</array>
	</dict>
	<dict>
		<key>Key</key>
		<string>PrintHalfCutKey</string>
		<key>Title</key>
		<string>Half Cut</string>
		<key>Items</key>
		<array>
			<string>On</string>
			<string>Off</string>
		</array>
		<key>ItemNumber</key>
		<array>
			<integer>1</integer>
			<integer>0</integer>
		</array>
	</dict>
	<dict>
		<key>Key</key>
		<string>PrintSpecialTapeKey</string>
		<key>Title</key>
		<string>Special Tape</string>
		<key>Items</key>
		<array>
			<string>On</string>
			<string>Off</string>
		</array>
		<key>ItemNumber</key>
		<array>
			<integer>1</integer>
			<integer>0</integer>
		</array>
	</dict>
	<dict>
		<key>Key</key>
		<string>RotateKey</string>
		<key>Title</key>
		<string>Rotate</string>
		<key>Items</key>
		<array>
			<string>On</string>
			<string>Off</string>
		</array>
		<key>ItemNumber</key>
		<array>
			<integer>1</integer>
			<integer>0</integer>
		</array>
	</dict>
	<dict>
		<key>Key</key>
		<string>PeelKey</string>
		<key>Title</key>
		<string>Peel</string>
		<key>Items</key>
		<array>
			<string>On</string>
			<string>Off</string>
		</array>
		<key>ItemNumber</key>
		<array>
			<integer>1</integer>
			<integer>0</integer>
		</array>
	</dict>
	<dict>
		<key>Key</key>
		<string>PrintCustomPaperKey</string>
		<key>Title</key>
		<string>Custom Paper</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>PrintCutMarkKey</string>
		<key>Title</key>
		<string>Cut Mark</string>
		<key>Items</key>
		<array>
			<string>On</string>
			<string>Off</string>
		</array>
		<key>ItemNumber</key>
		<array>
			<integer>1</integer>
			<integer>0</integer>
		</array>
	</dict>
	<dict>
		<key>Key</key>
		<string>PrintLabelMargineKey</string>
		<key>Title</key>
		<string>Label Margine</string>
		<key>Items</key>
		<array>
			<string>0</string>
			<string>100</string>
			<string>200</string>
		</array>
		<key>ItemNumber</key>
		<array>
			<integer>0</integer>
			<integer>100</integer>
			<integer>200</integer>
		</array>
	</dict>
	<dict>
		<key>Key</key>
		<string>PrintDensityMax5Key</string>
		<key>Title</key>
		<string>DensityMax5</string>
		<key>Items</key>
		<array>
			<string>-5 (Lightest)</string>
			<string>-4</string>
			<string>-3</string>
			<string>-2</string>
			<string>-1</string>
			<string>0</string>
			<string>1 (Default)</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5 (Darkest)</string>
		</array>
		<key>ItemNumber</key>
		<array>
			<integer>-5</integer>
			<integer>-4</integer>
			<integer>-3</integer>
			<integer>-2</integer>
			<integer>-1</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>5</integer>
		</array>
	</dict>
	<dict>
		<key>Key</key>
		<string>PrintDensityMax10Key</string>
		<key>Title</key>
		<string>DensityMax10</string>
		<key>Items</key>
		<array>
			<string>0 (Lightest)</string>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6 (Default)</string>
			<string>7</string>
			<string>8</string>
			<string>9</string>
			<string>10 (Darkest)</string>
		</array>
		<key>ItemNumber</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>5</integer>
			<integer>6</integer>
			<integer>7</integer>
			<integer>8</integer>
			<integer>9</integer>
			<integer>10</integer>
		</array>
	</dict>
	<dict>
		<key>Key</key>
		<string>PrintTopMarginKey</string>
		<key>Title</key>
		<string>TopMargin</string>
		<key>Items</key>
		<array>
			<string>0</string>
			<string>100</string>
		</array>
		<key>ItemNumber</key>
		<array>
			<integer>0</integer>
			<integer>100</integer>
		</array>
	</dict>
	<dict>
		<key>Key</key>
		<string>PrintLeftMarginKey</string>
		<key>Title</key>
		<string>LeftMargin</string>
		<key>Items</key>
		<array>
			<string>0</string>
			<string>100</string>
		</array>
		<key>ItemNumber</key>
		<array>
			<integer>0</integer>
			<integer>100</integer>
		</array>
	</dict>
	<dict>
		<key>Key</key>
		<string>PJPaperKindKey</string>
		<key>Title</key>
		<string>Paper Kind for PJ</string>
		<key>Items</key>
		<array>
			<string>PJ Roll</string>
			<string>PJ Cut Paper</string>
		</array>
		<key>ItemNumber</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
		</array>
	</dict>
	<dict>
		<key>Key</key>
		<string>PrintQualityKey</string>
		<key>Title</key>
		<string>Print Quality</string>
		<key>Items</key>
		<array>
			<string>Low Resolution</string>
			<string>Normal</string>
			<string>Double Speed</string>
			<string>High Resolution</string>
		</array>
		<key>ItemNumber</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
		</array>
	</dict>
	<dict>
		<key>Key</key>
		<string>PrintMode9</string>
		<key>Title</key>
		<string>Mode9</string>
		<key>Items</key>
		<array>
			<string>On</string>
			<string>Off</string>
		</array>
		<key>ItemNumber</key>
		<array>
			<integer>1</integer>
			<integer>0</integer>
		</array>
	</dict>
	<dict>
		<key>Key</key>
		<string>PrintRawMode</string>
		<key>Title</key>
		<string>Raw Mode</string>
		<key>Items</key>
		<array>
			<string>On</string>
			<string>Off</string>
		</array>
		<key>ItemNumber</key>
		<array>
			<string>1</string>
			<string>0</string>
		</array>
	</dict>
</array>
</plist>
